

.navbar a:hover{
  color: blue;
}
.logo{
  font-size: 1.5rem;
}
.navbar{
  background-color: white;
}
.heading{
  margin-top:140px;
}
.started{
  color: #5b5bf2;
  background-color: white;
  border-radius: 30px;
  border-color:#5b5bf2 ;
  width: 8rem;
  height: 3rem;
}
.image{
  display: flex;
  align-items: center;
margin: auto;
}
.animated {
  
  animation: up-down 2s ease-in-out infinite alternate-reverse both;

  position: relative;
  animation-name: up-down;
  /* animation-duration: 10s; */
  
}

@-webkit-keyframes up-down{
  0%   { transform: translateY(75px);}
  100%   { transform: translateY(30px);}
}
@keyframes up-down{
  0%   { transform: translateY(75px);}
  100%   { transform: translateY(30px);}
}
.main{
  display: flex;

}
@media (max-width:700px) {
  .main {
     display: flex;
     flex-direction: column;
  }
  @-webkit-keyframes up-down{
    0%   { transform: translateY(1px);}
    100%   { transform: translateY(-45px);}
  }
  @keyframes up-down{
    0%   { transform: translateY(1px);}
    100%   { transform: translateY(-45px);}
  }
.image{
  width: 40%;
}
}
.brandname{
  color: #5b5bf2;
}